.toggle-caja-roja {
  display: inline-block;
  padding: 1em 2em;
  background-color: #0b7777;
  color: white;
}

.caja-roja {
  background-color: red; 
  width: 300px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -150px;
  margin-top: -150px;
  z-index: 2;
  transition: all 400ms ease;
}

.overlay {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.31);
}

.show {
  opacity: 1;
  visibility: visible;
  display: block;
}

.intro-cycle {
}

.intro-cycle .inner-cycle {
  position: relative;
}

.intro-cycle .pagination {
  position: absolute;
  top: 1.4em;
  left: 1.4em;
  z-index: 1000;
}

.intro-cycle .pagination span {
  font-size: 40px;
}

.intro-cycle .pagination span.cycle-pager-active {
  color: aqua;
}

.intro-cycle .cycle-slideshow {
  
}

.intro-cycle .cycle-slideshow img{
  max-width: 100%;
}

.intro-cycle .controls {
  position: absolute;
  bottom: 3em;
  z-index: 1000;
  width: 100%;
}

.intro-cycle .controls #atras {
  position: absolute;
  left: 2em;
}
.intro-cycle .controls #adelante {
  position: absolute;
  right: 4em;
}
















