/*
Esto es una regla CSS

selector {
  propiedad: valor;
  propiedad: valor;
}

*/

/* 
selector de etiqueta
selecciona elementos HTML dependiendo de la etiqueta HTML que los contenga
*/
header {
  color: yellow;
}

section {
  color: aqua
}

p {
  color: black;
}
/*
section <----- 
  h2 <-- heredan estilos del section
  p  <-- heredan estilos del section 
  
Directamente en el p (parrafo)
  va a sobreescribir los estilos heredados.
*/


/*
Selector por ID
Selecciona el elemento HTML cuyo parametro ID sea igual al que esta despues del #
*/
#negro1 {
  color: red;
}

#negro2 {
  color: #2d4b83;
}

/*
Selector de Clase
Selecciona a un grupo de elementos HTML que tengan el mismo parametro class en su etiqueta HTML
*/

.parrafo-fondo-negro {
  background-color: black;
  color: white;
}

.noticias {
  color: red;
}

/*
-----------------------------
Selectores Compuestos
-----------------------------
*/
/*
Selector de cascada
Seleciona elementos dependediendo de dentro de que otro elemento HTML se encuentra

Ejemplo
selector1 selector2 {
  
}

selector1
  selector2

*/

.noticias header h3 {
  color: green;
  font-family: Arial;
  font-size: 40px;
}

.prueba-padding {
  width: 200px;
  background-color: red;
  color: white;
  border: 10px solid #000;
  padding: 10px;
  margin: 10px;
  box-sizing: border-box;
}


























