body {
  background-color: #e8e8e8;
  color: #4a3e3e;
}
/*
Propiedad Border

  ancho: debe estar en pixeles, em, %
  tipo: solid, dashed, dotted, double
  color: hexadecimal, color escrito (white, black), rgba

*/
.page-wrapper {
  border: 4px double #000000;
  max-width: 900px;
}

.intro {
  margin: 20px 10px;
}
/*
   margin: 20px 10px 50px 100px;

              |20px
              |
  100px-------------10px
              |
              |50px
*/
.intro header {
  font-size: 20px;
  background-color: rgba(0, 72, 124, 0.71);
  border: 2px solid white;
  padding: 0 20px;
  color: white;
}

.intro .summary {
  color: #000;
}

.intro .preamble {
  color: #999;
  font-size: 14px
}

/*
Seleccion multiple

selector,
selector {
  
}
*/

.intro .summary,
.intro .preamble {
  margin: 10px
}










