body {
  padding: 100px 0;
}

.alinear-inline {
  border: 10px solid green;  
}

.inline {
  display: inline-block;
  width: 32%;
  border: 1px solid #000;
}

.alinear-table {
  margin: 20px 0;
  display: table;
  border: 10px solid red;
}

.table-cell {
  display: table-cell;
  width: 1%;
  padding: 10px;
}

.alinear-float {
  border: 10px solid blue;
}

.alinear-float:hover {
  border: 10px solid yellow;
}

.alinear-float:after,
.alinear-float:before {
  display: block;
  content: "";
  clear: both;
}

.float-element {
  display: block;
  width: 33.33%;
  float: left;
  padding: 20px;
  border: 1px solid #000;
  box-sizing: border-box;
}

.clear {
  clear: both;
}

.alinear-flex {
  display: flex;
  display: ms-flex; /*internet explorer*/
  display: webkit-flex; /*safari, chrome*/
  margin: 20px 0;
  border: 10px solid #33aaa1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
  height: auto;
  align-content: space-between;
}

.flex-item {
  padding: 10px;
  flex: 0 0 1;
  box-sizing: border-box;
  border: 1px solid #000;
}

#flex-3 {
  flex: 0 0 40%;
  order: 0;
}





























