/* nav */
.navbar {
  background-color: #0E83CD;
  border: 4px solid #0E83CD;
}

/* ul */
.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav:before,
.nav:after {
  display: block;
  content: "";
  clear: both;
}

/*
menu justificado
.nav li {
  display: table-cell;
  width: 1%;
}
*/

.nav li {
  float: left;
  position: relative;
}

.nav li a {
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 0.8em 1em;
  border-left: 1px solid #0ba0fd;
  border-right: 1px solid #075281;
  transition: all 400ms ease;
}

.nav li a:hover {
  background-color: white;
  color: #0E83CD;
}

.nav li:last-child a {
  border-right: none;
} 

.nav li:first-child a {
  border-left: none;
}

.nav.dropdown {
  width: 250px;
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 400ms ease;
  transform: rotate(0) scale(1,1) translateY(-100%);
}

.nav li:hover > .nav.dropdown {
  opacity: 1;
  visibility: visible;
  transform: rotate(0) scale(1,1) translateY(0)
}

.nav.dropdown .nav.dropdown {
  top: 0;
  left: 100%;
}

.nav.dropdown li {
  float: none;
}

.nav.dropdown li a {
  display: block;
  background-color: #0E83CD;
}
.nav.dropdown li a:hover {
  background-color: white;
  color: #0E83CD;
}

.toggle-nav {
    display: none;
  }

@media screen and (max-width: 768px) {
  .toggle-nav {
    display: block;
    width: 100%;
  }
  
  .navbar > .nav {
    display: none;
  }
  
  .nav li {
    float: none;
  }
  
  .toggle-nav:checked + .nav {
    display: block;
  }
  
  .nav li a{
    display: block;
    border-left: none;
    border-right: none;
  }
  
  .nav.dropdown {
    width: 100%;
    background-color: aqua;
    position: static;
    transform: scale(1) rotate(0) translateY(0);
    visibility: visible;
    opacity: 1;
    border: 5px solid white;
  }
  
  .nav.dropdown a {
    background-color: aqua;
  }
}












