.content-padding {
  padding-top: 3em;
  padding-bottom: 3em;
}

@media screen and (max-width: 768px) {
  header .btn-group.btn-group-justified .btn {
    display: block;
    width: 100%;
  }
  
  header .btn-group.btn-group-justified > .btn:first-child:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  header .btn-group.btn-group-justified > .btn:last-child:not(:first-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }
}