body {
  font-size: 1em;
}

.row {
  max-width: 960px;
  margin: 0 auto;
  padding: 1em;
}

/*
unidad px
em -> 1 em es igual al tamano de la fuente por default del body
*/

.row::after,
.row::before {
  display: block;
  content: "";
  clear: both;
}

[class*='col-'] {
  float: left;
  box-sizing: border-box;
  padding: 1em;
}

.col-1  { width: 8.33%; }
.col-2  { width: 16.66%; }
.col-3  { width: 25%; }
.col-4  { width: 33.33%; }
.col-5  { width: 41.66%; }
.col-6  { width: 50%; }
.col-7  { width: 58.33%; }
.col-8  { width: 66.66%; }
.col-9  { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }

@media screen and (max-width: 480px) {
  [class*='col-'] {
    width: 100%;
  }
  .col-xs-1  { width: 8.33%; }
  .col-xs-2  { width: 16.66%; }
  .col-xs-3  { width: 25%; }
  .col-xs-4  { width: 33.33%; }
  .col-xs-5  { width: 41.66%; }
  .col-xs-6  { width: 50%; }
  .col-xs-7  { width: 58.33%; }
  .col-xs-8  { width: 66.66%; }
  .col-xs-9  { width: 75%; }
  .col-xs-10 { width: 83.33%; }
  .col-xs-11 { width: 91.66%; }
  .col-xs-12 { width: 100%; }
  .hide-xs { display: none; }
} 

@media screen and (min-width: 480px) and (max-width: 768px) {
  
}
@media screen and (min-width: 768px) and (max-width: 960px) {
  
}

@media screen and (min-width: 960px) and (max-width: 1200px) {

}

@media screen and (min-width: 1200px) and (max-width: 1440px) {
  .fila {
    max-width: 1200px;
  }
  .col-lg-1  { width: 8.33%; }
  .col-lg-2  { width: 16.66%; }
  .col-lg-3  { width: 25%; }
  .col-lg-4  { width: 33.33%; }
  .col-lg-5  { width: 41.66%; }
  .col-lg-6  { width: 50%; }
  .col-lg-7  { width: 58.33%; }
  .col-lg-8  { width: 66.66%; }
  .col-lg-9  { width: 75%; }
  .col-lg-10 { width: 83.33%; }
  .col-lg-11 { width: 91.66%; }
  .col-lg-12 { width: 100%; }
  .hide-lg { display: none; }
}

@media screen and (min-width: 1440px) {
  .fila {
    max-width: 1440px;
  }
}
/*
360px
420px
768px < denomina telefono
  tablet vertical
960px 
  desktop
1200px
  desktop grandes
1440px
  retina, HD
*/











