body {
  padding: 0;
  margin: 0;
}

.bg-blue {
  background-color: #0E83CD;
  color: white;
  padding: 4em 0;
}

.btn {
  position: relative;
  overflow: hidden;
  display: inline-block;
  border: 4px solid white;
  background: transparent;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  padding: 1.5em 4em;
  font-size: 1.1em;
  outline: 0px solid #000;
  box-shadow: 0 0 0 0 white;
  cursor: pointer;
  transition: all 400ms ease;
}

.btn .btn-inner-text {
  position: relative;
  z-index: 2;
}

.btn:hover {
  color: #0E83CD;
}

.btn.btn-sencillo:hover {
  background-color: white;
}

.btn.btn-cortina {
  overflow: hidden;
}

.btn.btn-cortina:before ,
.btn.btn-creciente:before {
  position: absolute;
  top: -100%;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: white;
  transition: all 400ms ease;
  z-index: 1;
}

.btn.btn-cortina:hover:before {
  top: 0;
}

.btn.btn-creciente:before {
  width: 84%;
  top: 0;
  left: 8%;
  transform: rotate(-45deg) scale(0, 4)
}

.btn.btn-creciente:hover:before {
  transform: rotate(-45deg) scale(0.8, 4)
} 



























