/*
font-family: 'Roboto', sans-serif;
font-family: 'Raleway', sans-serif;
*/

body {
  font-family: 'Roboto', sans-serif;
}
  
.btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.6em 1em;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  color: white;
  margin: 0.4em 0;
  position: relative;
  top: 0;
}
  
.btn:active {
  top: 4px;
}

.btn.btn-default {
  background-color: #2980b9;
  box-shadow: 0 4px 0 0 #2c3e50;
}

.btn.btn-default:hover {
  background-color: #2966b9;
}

.btn.btn-default:active {
  background-color: #29b982;
  box-shadow: none;
}

.btn:focus {
  outline: none;
  /* x y blur spread color */
}

.btn.btn-warning {
  background-color: #f39c12;
  box-shadow: 0 4px 0 0 #d35400;
}

.btn.btn-warning:hover {
  background-color: #d6890f;
}

.btn.btn-warning:active {
  background-color: #f3d012;
  box-shadow: none;
}

.btn.btn-error {
  background-color: #e74c3c;
  box-shadow: 0 4px 0 0 #c0392b;
}

.btn.btn-error:hover {
  background-color: #e82e1a;
}

.btn.btn-error:active {
  background-color: #ed6658;
  box-shadow: none;
}

.btn.btn-large {
  font-size: 1.2em;
}

.btn.btn-small {
  font-size: 0.7em;
}

.btn.btn-animated {
  transition: all 200ms ease;
}

.btn.btn-embedtype {
  text-shadow: 0 -1px 0 #000;
/* x y blur color  */
  
  /*
  inset es para sombra interna
  multisombra, son sombras separadas por comas
  box-shadow: 4px 4px 0 0 #000 inset,
              80px 90px 0 0 #000;
*/
}

.btn.btn-round {
  border-radius: 0.4em;
  /*
    border-radius: topLeft topRight bottomRight bottomLeft;
  */
}



