.btn.btn-with-icon {
  position: relative;
  padding: 0.8em 1em 0.8em 3.2em;
}

.btn.btn-with-icon .icon {
  position: absolute;
  top: 0.45em;
  left: 0.4em;
  text-shadow: none;
  border: none;
  outline: none;
  font-size: 1.5em;
  font-weight: 100;
  padding-right: 0.5em;
}

.btn.btn-with-icon .icon:after {
  content: "";
  display: block;
  position: absolute;
  top: -0.4em;
  right: 0.1em;
  height: 170%;
  border-right: 1px solid white;
}

.btn.btn-with-sprite {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(images/google_sprites.png);
}

.btn.btn-with-sprite.youtube {
  background-position: -2px -7px;
}

.btn.btn-with-sprite.contacts {
  background-position: -2px -77px;
}

.btn.btn-with-sprite.drive {
  background-position: -2px -147px;
}
































